div.container {
    display: flex;
    width: auto;

    .background {
        position: fixed;
        height: 770px;
        left: 0px;
        top: -100px;
        z-index: 0;
    }

    .title {
        font-size: 20pt;
        color: #363636;
        font-family: Open Sans Condensed;
        z-index: 30;
        margin: auto;
    }

}