<div class="container">
    <h1 class="title">marcmerih</h1>
    <div class="body">
        <div class="cards">
            <div class="software-card">
                <span class="card-title">Software Developing</span>
                <br>
                <span class="card-description">Colletion of blog posts with regards to software development. Things I 
                    find interesting.
                </span>
            </div>

            <div class="software-card">
                <span class="card-title">Graphic Design</span>
                <br>
                <span class="card-description">Boost your creativity, learn interesting methods. Blog discussion for
                    graphic design.
                </span>
            </div>

            <div class="software-card">
                <span class="card-title">Music</span>
                <br>
                <span class="card-description">Mozart, Chopin, Beethoven, Bach... Discussions about my favorite
                    artists, music.
                </span>
            </div>

            <div class="software-card">
                <span class="card-title">Art</span>
                <br>
                <span class="card-description">Different movements in art history, and <br>
                    my favorites. Trip down history.
                </span>
            </div>

            <div class="software-card">
                <span class="card-title">Film</span>
                <br>
                <span class="card-description">List of my favourite films from the past <br>half-century.
                    Check out these recommendations!
                </span>
            </div>

            <div class="software-card">
                <span class="card-title">Architecture</span>
                <br>
                <span class="card-description">Minimalist and mid-century home <br> design. What works best,
                    and what <br>doesn't.
                </span>
            </div>
        </div>
    </div>

</div>
